@page
@model WebAppTecTreasure.Pages.CarritoModel
@{
    ViewData["Title"] = "Carrito";
    Layout = "_LayoutPaginaSorteosTec";
}

<head>

    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> <!-- Bootstrap -->

    <style>

        .titulo {
            margin-top: 3%;
            margin-bottom: 3%;
            width: 100%;
            border-top: 1px solid #DFDFDF;
            border-bottom: 1px solid #DFDFDF;
            padding: 1%;
        }

        .contenedor {
            width: 69%;
            float: left;
            border: 1px solid #DFDFDF;
            margin-right: 1%;
        }

        .articulo {
            border-bottom: 1px solid #DFDFDF;
            height: 25vh;
            display: flex;
        }

        .articulo-imagen {
            min-width: 25%;
            max-width: 25%;
            min-height: 100%;
            max-height: 100%;
            border-right: 1px solid #DFDFDF;
        }

        .articulo-info {
            min-width: 75%;
            max-width: 75%;
            min-height: 100%;
            max-height: 100%;
            overflow: hidden;
            position: relative;
            padding: 1%;
        }

        .div-imagen1 {
            min-width: 100%;
            max-width: 100%;
            min-height: 25%;
            max-height: 25%;
        }

        .div-imagen2 {
            min-width: 100%;
            max-width: 100%;
            min-height: 75%;
            max-height: 75%;
        }

        .imagen-compra {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .pago {
            width: 30%;
            float: right;
            border: 1px solid #DFDFDF;
            padding: 1%;
            text-align: center;
        }

        .precio {
            float: right;
            font-weight: bold;
            font-size: 125%;
            top: 0;
            color: #22327b;
        }

        .texto-disponible {
            color: #117611;
            margin-bottom: 0;
        }

        .texto-vendido {
            margin-top: 0;
        }

        .texto-cantidad {
            font-weight: bold;
        }

        .btn-eliminar {
            float: right;
        }

        .link-tienda {
            text-decoration: underline;
        }

        .btn-pagina-vacia {
            background-color: #22327b;
            color: #FFFFFF;
            margin-top: 1%;
        }

            .btn-pagina-vacia:hover,
            .btn-pagina-vacia:focus {
                color: #00B6FF !important;
            }

        .btn-pagar {
            background-color: #22327b;
            color: #FFFFFF;
            border-radius: 20px;
            width: 90%;
            margin-top: 1%;
        }

            .btn-pagar:hover,
            .btn-pagar:focus {
                color: #00B6FF !important;
            }

        .close {
            cursor: pointer;
        }
    </style>

</head>

<div class="titulo">
    <h2 style="margin-bottom:0">Carrito</h2>
</div>

@{
    bool hayLootboxesEnCarrito = false;
    int totalPagar = 0;
    foreach (var lootbox in Model.lootboxesEnCarrito)
    {
        if (lootbox.cantidad > 0)
        {
            hayLootboxesEnCarrito = true;
        }
    }
}

@if (hayLootboxesEnCarrito == true)
{
    <div class="contenedor">

        @foreach (var lootbox in Model.lootboxesEnCarrito)
        {
            if (lootbox.cantidad > 0)
            {
                totalPagar = totalPagar + (lootbox.precio * lootbox.cantidad);
                <div class="articulo">
                    <div class="articulo-imagen">
                        <div class="div-imagen1">
                            <img src="/images/logo@(lootbox.id_LB).png" alt="Logo" class="imagen-compra">
                        </div>
                        <div class="div-imagen2">
                            <img src="/images/lootboxCompra.png" alt="Lootbox Imagen" class="imagen-compra">
                        </div>
                    </div>
                    <div class="articulo-info">
                        <p class="precio">$@lootbox.precio</p>
                        <h5>Lootbox: @lootbox.nombre_LB</h5>
                        <p class="texto-disponible">Disponible</p>
                        <p class="texto-vendido">Vendido por Sorteos Tec</p>
                        <p class="texto-cantidad">Cantidad: @lootbox.cantidad</p>
                        <a asp-area="" asp-page="/Tienda" class="link-tienda">Agregar más productos</a>
                        <form style="float:right" type="hidden" method="post" asp-page-handler="delete" id="@(lootbox.id_LB)">
                            <input type="hidden" name="lootboxId" value="@lootbox.id_LB" />
                            <button id="eliminarBtn@(lootbox.id_LB)" class="btn btn-eliminar btn-outline-danger">Eliminar</button>
                        </form>
                    </div>
                </div>
            }
        }

    </div>

    <div class="pago">
        <h5>Total a pagar: $@totalPagar</h5>
        <form method="post" id="formPagar" asp-page-handler="comprar">
            <button id="pagarBtn" class="btn btn-pagar text-center">Proceder al pago</button>
        </form>
    </div>
}
else
{
    <div class="text-center" style="margin-top: 10%">
        <h4> ¡Tu carrito está vacío! Ve a la tienda para seleccionar las lootboxes que desees comprar</h4>
        <button class="btn btn-pagina-vacia" onclick="window.location.href='@Url.Page("/Tienda")'">Seleccionar Lootboxes</button>
    </div>
}

@if(Model.compraRealizada == true)
{
     <script>// Llama a la función cuando la página se carga
         document.addEventListener("DOMContentLoaded", function () {
             mostrarNotificacion();
         });
     </script>
}

@section scripts {
    <script>
        function mostrarNotificacion() {
            Swal.fire({
                title: "Compra Exitosa",
                icon: "success",
                timer: 3000,
                showConfirmButton: false
            });
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
}